.container-movies {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  margin: 0 1rem;
}

.main-title {
  font-size: 1.8em;
  font-weight: 900;
}

.button-page {
  background-color: #da6220;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  align-self: flex-end;
}

.container-movies-card {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 4rem 0;
}