.form-newmovie {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 1rem;
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #da6220;
  border-radius: 8px;
}

.input-form {
  width: 100%;
  background-color: #06112E;
}

.preview-container {
  display: flex;
  width: 90%;
  padding: 2rem;
  margin-top: 15px;
  justify-content: center;
}

.preview-image {
  min-heigth: 300px;
  min-width: 150px;
  height: 32vh;
  width:20vh;
  border-radius: 8px;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #da6220,
              0 0 0.8rem #da6220,
              inset 0 0 1.3rem #da6220;
}

.button-container-form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  margin: 15px 0 0;
}

.button-base {
  font-weight: 900;
  padding: 4px 32px;
  border-radius: 4px; 
}

.button-post {
  background-color: lightgrey;
  color: black;
}

.button-cancel {
  background-color: red;
  color: white;
}

.message {
  margin-top: 15px;
}